<h2>The Burg-inator</h2>
<h3>You'll be back... for more burgers</h3>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}} 
    {{/if}}
    {{/each}}
</ul>

<form class="burger-form">
    <div class="form-group">
        <label for="newBurger">Burger:</label>
        <input type="text" id="newBurger" name="name" />
        <button id="burgerbtn" type="submit">Add a Burger</button>
        <h5>enter a burger you want to eat and hit the add button</h5>
    </div>
</form>