<h2>The Burg-inator</h2>
<h3>You'll be back... for more burgers</h3>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    {{burger_name}}
    {{/if}}
  {{/each}}
</ul> 

<form class="burger-form">
    <div class="form-group">
        <label for="newBurger">Burger:</label>
        <input type="text" id="newBurger" name="name" />
        <button type="submit">Add a Burger</button>
        <h5>enter a burger you want to eat and hit the add button</h5>
    </div>
    <div>
        <button id="burgerbtn" type="submit">Devour it!</button>
    </div>
</form>