<div class="container">
    <div class="row text-row">
        <h2 class="text">The Burg-inator</h2>
    </div>
    <div class="row text-row">
        <h4 class="text">You'll be back... for more burgers</h4>
    </div>
    <div class="row ">
        <div class="col" id="burgerReady">
            <div class="container" id="burgerReadyCont">
                <ul>
                    <h3>Ready Burgers</h3>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col" id="burgerGone">
            <div class="container" id="burgerGoneCont">
                <h3>Terminated Burgers</h3>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <form class="burger-form">
        <div class="form-group">
            <label for="newBurger">Burger:</label>
            <input type="text" id="newBurger" name="name" />
            <button id="burgerbtn" type="submit" type="button" class="btn btn-info">Add a Burger</button>
            <h5>enter a burger you want to eat and hit the add button</h5>
        </div>
    </form>
</div>