<li>
    {{burger_name}}

    <button class="devoured"type="button" class="btn btn-dark" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devour it!{{else}}Get Another!{{/if}}
    </button>

</li>

